@import 'http://at.alicdn.com/t/font_1626366_5aduzfmi3er.css';

html,body {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}